@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.square{
  height: 40px;
  width: 40px;
  border-color: blue;
  border-width: 1px;
  margin-right: 2px;
  margin-bottom: 2px;
}
.line{
  margin-left: 10px;
  height:42px;
  width: 126px;
  align-items: center;
}